# Node.js
node_modules/

TODO.ts

# Логи и файлы ошибок
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Логи
logs/
*.log

# Файлы операционной системы
.DS_Store
Thumbs.db

# Кэшированные файлы
.cache/

# IDE и редакторы
.idea/
.vscode/

# TypeScript и сборка
dist/
build/

# Переменные окружения
*.env

# Папки для временных файлов (если они присутствуют)
tmp/

# Папки для инструментов тестирования
coverage/

.env